body {
  margin: 0;
  font-family: sans-serif;
  background: #ffdddd;
}

header {
  background: url("../images/photo1.png");
  background-size: cover;
  color: #fff;
  height: 100vh;
  background-position: center;
  text-align: center;
  padding-top: 30vh;
  word-spacing: 1rem;
}

.head-text1 {
  font-size: 4em;
}

.head-text2, .head-text3 {
  font-size: 1.8rem;
}
