body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f1e0e0;
}

#home {
  background: url("../images/photo1.png");
  background-size: cover;
  color: #fff;
  height: 100vh;
  width: 100%;
  background-position: center;
  text-align: center;
  padding-top: 30vh;
  word-spacing: 1;
  filter: grayscale(40%);
}

.head-text1 {
  font-size: 4em;
}

.head-text2,
.head-text3 {
  font-size: 1.8rem;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #757575;
  margin: 4rem auto;
}

.section2 {
  width: 90vw;
  margin: auto;
  font-style: oblique;
  color: #000;
  font-weight: lighter;
  padding: auto 100px;
  min-width: 20rem;
  max-width: 70rem;
  letter-spacing: 1px;
}

.section2 img,
.section4 img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(70%);
}

.btn1 {
  padding: 1.2rem;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  font-size: 1.3rem;
  background-color: #000;
  color: #fff;
  margin: 4rem auto 5rem;
}

.btn1:hover {
  background: #ccc;
  color: #000;
}

.section3 {
  background: url("../images/photo3.png");
  background-size: cover;
  color: #fff;
  filter: grayscale(20%);
  height: 100vh;
  background-position: center;
  text-align: center;
  justify-content: center;
}

.relative-box {
  position: relative;
  top: 40%;
}

.section3-text1 {
  font-size: 4rem;
}

.section3-text2 {
  font-size: 2rem;
  margin-top: 5%;
}

#wedding {
  height: auto;
  width: auto;
  font-size: 2.5rem;
  color: #757575;
  margin: 4rem auto;
  text-transform: uppercase;
}

.section4 {
  width: 90vw;
  margin: auto;
  min-width: 20rem;
  max-width: 70rem;
}

.section4 .when-where {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 5rem auto;
}

.when-where header {
  font-size: 32px;
  font-weight: 10;
}

.hope-you {
  background-color: #f7d6d6;
  height: auto;
  margin-bottom: 0;
  text-align: center;
  padding-top: 2.5rem;
}

.hope-you-text1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
}

.hope-you-text2 {
  word-spacing: 10px;
  letter-spacing: 4px;
}

.hope-you .btn2 {
  padding: 1.3rem;
  border: none;
  border-radius: 3px;
  height: auto;
  width: 11rem;
  font-size: 1.3rem;
  background-color: #f44336;
  color: #fff;
  margin: 1.3rem 0 6rem;
  opacity: 0.64;
}

.btn2:hover {
  background: #ccc;
  color: #000;
  opacity: 1;
}

footer {
  padding: 2.1rem 0;
  background-color: #000;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}

.second-to-last {
  height: 1.4rem;
  background-color: #fff;
  margin: 0;
}

.nav {
  background-color: #fff;
  opacity: 0.8;
  color: #000;
  justify-content: center;
  display: flex;
  padding: 0.3rem 0;
  position: fixed;
  width: 100%;
  height: 2.7rem;
  bottom: 0;
  z-index: 1;
}

.nav-content {
  width: 25%;
  height: 100%;
}

.nav button {
  width: 100%;
  background-color: #fff;
  font-size: 1rem;
}

.nav-btn1 {
  height: 100%;
  width: 100%;
  border: none;
}

.nav-btn1:hover {
  background-color: #757575;
}

.nav-btn2 {
  height: 100%;
  width: 100%;
  border: none;
}

.nav-btn2:hover {
  background-color: #000;
  color: #fff;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav:hover {
  background-color: #fff;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .nav,
  .second-to-last {
    display: none;
  }

  .section4 .when-where {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .when {
    margin-top: 1rem;
  }

  .where {
    margin-bottom: 1rem;
  }
}
